<div class="pager-container" *ngIf="searchFinish">
    <ul class="pager-list" *ngFor="let page of pager; let i=index">
      <a class="pager-item" 
         *ngIf="actualPage+i-1 != 0" 
         (click)="getPage(actualPage+i-1)"
         [ngClass]="{'selected-page': actualPage+i-1 == actualPage}">{{actualPage+i-1}}</a>
    </ul>
    <ul class="pager-list">
        <a class="pager-item">...</a>
    </ul>
    <ul class="pager-list">
        <a class="pager-item" 
          *ngIf="actualPage+i-1 != 0" 
          (click)="getPage(totalPages)">{{totalPages}}</a>
    </ul>
</div>
