<div class="container color-light">
  <div class="subtitle-section color-dark">
      <span class="subtitle">Search your eBook</span>
  </div>
  <div class="container-nav">
    <form #f="ngForm" class="form-inline" (ngSubmit)="doSearch()">
      <p>Introduce a book to start your search!</p>
      <div class="form-group">
        <input type="search"
                class="form-control txt"
                placeholder="Search..."
                name="search"
                [(ngModel)]="term"
                required>
      </div>
      <button type="submit"
              class="btn btn-primary"
              [disabled]="!f.valid">
        Search
      </button>
    </form>
  </div>
  <hr/>
  <div class="container-nav">
    <div class="text-center">
      <p class="lead" *ngIf="googleBooksService.loading">Loading...</p>
      <p class="lead" *ngIf="!googleBooksService.haveBooks">Sorry, no results found... :(</p>
      <p class="lead" *ngIf="googleBooksService.books?.length > 0">
        Found {{ googleBooksService.totalResults }} results in {{ googleBooksService.enlapsedTime }} sec.
      </p>
    </div>
  
    <!-- TODO: Show the results of the search -->
    <app-book-list></app-book-list>

    <div class="d-flex justify-content-center">
      <!-- TODO: Show pagnation -->
      <app-pager>
      </app-pager>
    </div>
  </div>
</div>