<div class="container color-light">
  <div class="subtitle-section color-dark">
      <span class="subtitle">Search your eBook</span>
  </div>
  <div class="container-nav">
    <form class="form-inline">
      <p>Introduce a book to start your search!</p>
      <div class="form-group">
        <input type="search"
               class="txt form-control"
               placeholder="Search..."
               name="search"
               required>
      </div>
      <button type="submit"
              class="btn">
        Search
      </button>
    </form>
    <hr />

    <div class="text-center">
      <!-- TODO: Show when we are calling the API -->
      <p class="lead">Loading...</p>

      <!-- TODO: Show when no results are returned from the API -->
      <p class="lead">No results returned</p>

      <!-- TODO: Show when the user hasn't performed a search yet -->
      <p class="lead">Enter a search string above and press search</p>
    </div>
  </div>

  <!-- TODO: Show the results of the search -->
  <app-book-list></app-book-list>

  <div class="d-flex justify-content-center">
    <!-- TODO: Show pagnation -->
    <app-pager>
    </app-pager>
  </div>
</div>